
@font-face {
    font-family: myFirstFont;
    src: url(font/russhoone.ttf);
}
.design{
    background-color:#1b6d85;
    text-align: center;
    font-family: "myFirstFont";
}
.heading{
    font-size:80px;
    color:white;
}